<aside class="LeftSidebar" id="LeftSidebar">
    <button id="SidebarToggleBtn" class="SidebarToggleBtn">
        <span class="material-icons">chevron_left</span>
    </button>

    <nav class="Navigation">
        <div class="SectionHeader">
            <h3>
                <span class="material-icons" style="vertical-align: middle; margin-right: 6px;">
                    apps
                </span>
                Navigation
            </h3>

            <button class="IconButton CollapseBtn" id="CollapseNavigationBtn" title="Collapse/Expand">
                <span class="material-icons">expand_less</span>
            </button>
        </div>
        <div class="SectionContent" id="NavigationContent">
            <p class="NotFound">No posts</p>
            <ul></ul>
            <button class="ViewMoreButton">
                View more
                <span class="material-icons">expand_more</span>
            </button>
        </div>
    </nav>

    <div class="Categories">
        <span class="CategoriesRow">
            <span class="material-icons"
                style="font-size: 18px; margin-right: 8px; vertical-align: middle;">label</span>
            <h3>Categories</h3>
            <button class="IconButton CollapseBtn" id="CollapseCategoriesBtn" title="Collapse/Expand">
                <span class="material-icons">expand_less</span>
            </button>
        </span>
        <div class="SectionContent" id="CategoriesContent">
            <div class="CategoryActions">
                <button class="IconButton" id="EditCategoriesBtn" title="Edit categories">
                    <span class="material-icons">edit</span>
                    <span class="ButtonLabel">Edit</span>
                </button>
                <button class="IconButton" id="AddCategory" title="Add category">
                    <span class="material-icons">add</span>
                    <span class="ButtonLabel">Add</span>
                </button>
            </div>
            <p class="NotFound">No categories</p>
            <ul></ul>
            <button class="ViewMoreButton">
                View more
                <span class="material-icons">expand_more</span>
            </button>
        </div>
    </div>
</aside>