<aside class="LeftSidebar">
    <nav class="Navigation">
        <h3>Navigation</h3>
        <ul>
            <li><a href="#">+ Title</a></li>
            <li><a href="#">+ Title</a></li>
            <li><a href="#">+ Title</a></li>
            <li><a href="#">+ Title</a></li>
            <li><a href="#">+ Title</a></li>
            <li><a href="#">+ Title</a></li>
            <li><a href="#">+ Title</a></li>
            <li class="extra-item" style="display:none;"><a href="#">+ Title</a></li>
            <li class="extra-item" style="display:none;"><a href="#">+ Title</a></li>
            <li class="extra-item" style="display:none;"><a href="#">+ Title</a></li>
            <li class="extra-item" style="display:none;"><a href="#">+ Title</a></li>
        </ul>
        <button class="ViewMoreButton">
            View more
            <span class="material-icons">expand_more</span>
        </button>
    </nav>
    <div class="Categories">
        <h3>Categories</h3>
        <ul>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
        </ul>
    </div>
</aside>